asgiref==3.3.1
attrs==20.3.0
Django==3.1.7
django-ninja==0.16.1
Faker==9.8.2
iniconfig==1.1.1
model-mommy==1.6.0
packaging==20.9
pkg_resources==0.0.0
pluggy==0.13.1
py==1.10.0
pydantic==1.7.3
pyparsing==2.4.7
pytest==6.2.2
pytest-django==4.1.0
python-dateutil==2.8.2
python-decouple==3.4
pytz==2021.1
six==1.16.0
sqlparse==0.4.1
text-unidecode==1.3
toml==0.10.2
typing==3.7.4.3
