asgiref==3.3.1
attrs==20.3.0
Django==3.1.7
django-ninja==0.12.1
iniconfig==1.1.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pydantic==1.7.3
pyparsing==2.4.7
pytest==6.2.2
pytest-django==4.1.0
python-decouple==3.4
pytz==2021.1
sqlparse==0.4.1
toml==0.10.2
typing==3.7.4.3
